*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
.header{
   background-color: rgb(233, 233, 20); 
   padding: 20px;
   width: 100%;
   text-align: center;
   color: blueviolet;
}
#input1{
    width: 20%;
    height: 30px;
    border-radius: 5px;
    font-weight: bold;
}
#submit{
    width: 100px;
    height: 30px;
    background-color:rgb(19, 112, 218);
    color:white;
    border-radius: 5px;

}
#submit:hover{
    background-color: red;
    color: white;
}
 #form{
    padding: 20px;
}
#money{
    width: 1500px;
    height: 40px;
    border-radius: 10px;
    padding-top: 8px;
}
.section{
    padding: 30px;
   background-color: rgb(220, 238, 13);

}

.budget{
    display: flex;
    justify-content:space-between;
}

.main-section{
    width: 600px;
    margin: auto;
    background-color:white;
    padding: 10px;
    border-radius: 10px;
    margin-top: 30px;
}


#number{
    width: 100%;
    padding:6px;
    margin-bottom: 15px;
    margin-top: 5px;
}
#description{
    width: 100%;
    padding:6px;
    margin-bottom:15px;
    margin-top: 5px;

}
#choose{
    width: 100%;
    padding:6px;
    margin-bottom: 15px;
    margin-top: 5px;
}
#submitExpense{
    width: 100%;
    padding:6px;
    margin-bottom: 15px;
    margin-top: 5px;
    background-color: green;
}

.delete{
    width: 70px;
    height: 30px;
    background-color:white;
    border-radius: 5px;
    margin: 0 10px;
    box-shadow: 10px;
}
.delete:hover{
    color: white;
    background-color: red;
}
.edit{
    width: 70px;
    height: 30px;
    background-color:white;
    border-radius: 5px;
    box-shadow: 10px;

}
.edit:hover{
    color: white;
    background-color:green;
}
li{
  
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    margin-top: 15px;
    text-align: center;
    background-color: blanchedalmond;
}

h4{
    margin-left: 40px;
}
#heading{
    background-color: rgb(14, 2, 26);
    color: white;

}